body {
	color: $color-violet-light;
	font-family: "Red Hat Display", sans-serif;
}

.attribution {
	font-size: $font-size-sm;
}

.btn {
	font-size: $btn-font-size;
	font-weight: 900;
}

.heading-primary {
	font-weight: 900;
	font-size: $heading-1-font-size;
	line-height: 1.4;
	letter-spacing: -1px;
	padding: 4.5rem 0 1.5rem;
	color: $color-blue-dark;
}

.heading-secondary {
	color: $color-blue-dark;
	font-size: $heading-2-font-size;
	font-weight: 900;
}

.text {
	font-weight: 500;
	font-size: $font-size-md;
	line-height: 1.6;
}
