// Colours
$color-white: #ffffff;
$color-grey-light: #dfe6fb;
$color-grey-light-2: #f7f9ff;
$color-blue-light: #382ae1;
$color-blue-dark: #1f2e55;
$color-violet-light: #717fa6;
$color-violet: #766cf1;

// Sizes
$font-size-sm: 1.1rem;
$font-size-md: 1.6rem;
$font-size-lg: 2rem;

$heading-1-font-size: 2.8rem;
$heading-2-font-size: 1.6rem;

$btn-font-size: 1.5rem;
