.card {
	max-width: 45rem;
	border-radius: 2rem;
	overflow: hidden;
	background-color: $color-white;
	box-shadow: 0 4rem 4rem -2rem rgba(13, 48, 189, 0.151826);

	&__content {
		padding: 0 5.4rem 3rem;
	}

	&__order-summary {
		text-align: center;
	}

	&__footer {
		padding-bottom: 3.2rem;
	}
}
